#frame {
  width: 344px;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background-color: #EBE7E5;
  z-index: 100;
}

#channel_tag_sort_area {
  width: 344px;
  height: 129px;
  border-bottom: #9E9E9E solid 1px;
}

#sorting_letter {
  display: inline-block;
  left: 0;
  margin-top: 10px;
  margin-left: 24px;
  font-size: 1em;
  font-weight: 600;
  font: #9E9E9E;
}

#now_sorting_area {
  width: 296px;
  height: 24px;
  margin: 8px 24px;
}

.channel_textbox {
  width: 296px;
  height: 36px;
  margin: 0 24px;
  margin-bottom: 24px;
  border-radius: 18px;
  border: none;
  background-color: white;
}

#channel_sort_textbox_icon_area {
  
}