.wf-notosansjapanese { font-family: "Noto Sans JP"; }

body {
  margin: 0;
}

#frame {
  width: 344px;
  height: 100vh;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  background-color: #EBE7E5;
  z-index: 100;
  font-family: "Noto Sans JP";
  font-weight: 800;
}

#channel_option_area {
  width: 344px;
  padding-bottom: 16px;
  font: inherit;
  border-bottom: #9E9E9E solid 1px;
}

#sorting_letter {
  display: inline-block;
  left: 0;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 8px;
  font-size: 0.8em;
  font-weight: 600;
  color: #9E9E9E;
}

.now_picking_area {
  display: block;
  margin: 8px 24px;
  margin-top: 0;
}

.channel_card {
  display: inline-block;
  padding: 0.4em 1em;
  margin: 0 0.4em;
  margin-left: 0;
  font-size: 0.8em;
  border-radius: 1.1em;
  border: none;
  color: #707070;
  background-color: white;
}

.adding_option_channel {
  width: 296px;
  position: relative;
  margin: 0 auto;
}

.channel_textbox {
  display: block;
  width: 264px;
  height: 36px;
  padding: 3px 16px;
  color: #707070;
  font: inherit;
  font-size: 1em;
  border-radius: 1.4em;
  border: none;
  background-color: white;
}

.adding_icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  top: 12.5px;
}

#comment_sending_area {
  position: absolute;
  width: 344px;
  padding-top: 16px;
  bottom: 0;
}

#comment_writing_area {
  width: 296px;
  position: relative;
  margin: 8px 24px;
  margin-bottom: 16px;
}

#comment_textbox {
  display: block;
  width: 216px;
  height: 28px;
  padding: 10px 16px;
  color: #707070;
  max-width: 216px;
  min-width: 216px;
  max-height: 120px;
  min-height: 28px;
  font: inherit;
  font-size: 1em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  background-color: white;
}

#comment_sending {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #e6614a;
}

#sending_icon {
  width: 24px;
}